:root {
  --color-orange-prim: #ff7f02;
  --color-red-sec: #f83938;
  --color-yelow-sec: #ffb402;
  --color-green-sec: #00a23e;
  --color-blue-sec: #018aea;
  --color-purple-sec: #aa1eab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Potta One", cursive;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-table {
  width: 400px;
  height: 500px;
  border: 3px outset var(--color-orange-prim);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
}

/*----------------------------->>> Parte superior del tablero. */

.title {
  width: 100%;
}

.letters {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  align-items: flex-end;
  gap: 2px 2px;
  padding: 5px 5px 0 5px;
}

.letters p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 40px;
}

/*----------------------------->>> Parte inferior del tablero. */

.numbers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2px 2px;
  padding: 5px;
}

.box-number {
  border-radius: 5px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

/*----------------------------->>> Colores de Fondo. */

.bg-orange {
  background: rgb(255, 183, 113);
  background: linear-gradient(
    120deg,
    rgba(255, 183, 113, 1) 0%,
    rgba(255, 127, 2, 1) 40%,
    rgba(227, 162, 31, 1) 78%,
    rgba(201, 100, 0, 1) 100%
  );
}

.bg-red {
  border: 2px outset var(--color-red-sec);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.8995973389355743) 0%,
    rgba(248, 57, 56, 1) 50%
  );
}

.bg-yellow {
  border: 2px outset var(--color-yelow-sec);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.8995973389355743) 0%,
    rgba(255, 180, 2, 1) 50%
  );
}

.bg-green {
  border: 2px outset var(--color-green-sec);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.8995973389355743) 0%,
    rgba(0, 162, 62, 1) 50%
  );
}

.bg-blue {
  border: 2px outset var(--color-blue-sec);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.8995973389355743) 0%,
    rgba(1, 138, 234, 1) 50%
  );
}

.bg-purple {
  border: 2px outset var(--color-purple-sec);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.8995973389355743) 0%,
    rgba(170, 30, 171, 1) 50%
  );
}
